input(type="hidden", name="_csrf", value=req.session._csrf)
input(type="hidden", name="_referrer", value=referrer)

.tip-container.small-button
  .tip-send
    input.tip-input(type="text", value="$0.25", name="amount")
    .tip-controls
      .tip-increase
        .tip-arrow
      .tip-decrease
        .tip-arrow
    .tip-submit TIP
  .tip-confirm
    div
      span You tipped 
      span.tip-amount $0.25
    a.tip-update Update Tip