input(type="hidden", name="_csrf", value=req.session._csrf)
input(type="hidden", name="_referrer", value=referrer)
input(type="hidden", name="_url", value=req.query.url)

.tip-container.small-button
  .tip-send
    input.tip-input(type="text", value=1, name="amount")
    .tip-controls
      .tip-increase
        .tip-change
      .tip-decrease
        .tip-change
    .tip-submit GIVE
  .tip-confirm
    div
      span You gave 
      span.tip-amount 1 point
    a.tip-update Update Tip