script
  
  var hasTooltip = false;
  var totalAmount = 0;
  var maxAmount = 9999;
  
  var testButton = document.referrer.indexOf("25c.com/home/get_button") != -1
    || document.referrer.indexOf("localhost:3000/home/get_button") != -1 
    || document.referrer.indexOf("25c.com/home/receive_pledges") != -1
    || document.referrer.indexOf("localhost:3000/home/receive_pledges") != -1;
    
  $(function() {
    
    // VARIABLES
    var mouseDown = false;
    var timer = null;
    var interval = 400;
    
    function updateCount(isInput, showZero) {
      if (totalAmount > maxAmount) totalAmount = maxAmount;
      if (totalAmount > 0) $('#undo').show();
      if (totalAmount > 0 || showZero) $('#count, #counter-box').show();
      if (isInput) $('#check-icon').show();
      else $('#check-icon').hide();
      $('#count').text('$' + (totalAmount / 100).toFixed(2));
    }
  
    function incrementCount() {
      $('#undo').show();
      $('#check-icon').hide();
      if (totalAmount + 25 < maxAmount) {
        totalAmount += 25;
        if (hasTooltip) {
          $.postMessage(
            JSON.stringify({command: "increment", uuid: buttonUuid}),
            parentUrl
          );
        } else {
          updateCount();
        }
      }
    }
  
    function zeroCount() {
      $('#undo').hide();
      $('#check-icon').hide();
      clearTimeout(timer);
      totalAmount = 0;
      if (hasTooltip) {
        $.postMessage(
          JSON.stringify({command: "clear", uuid: buttonUuid}),
          parentUrl
        );
      } else {
        updateCount(false, true);
      }
    }
  
    function resetCount() {
      $('#undo').hide();
      $('#check-icon').hide();
      totalAmount = 0;
      if (hasTooltip) {
        $.postMessage(
          JSON.stringify({command: "reset", uuid: buttonUuid}),
          parentUrl
        );
      } else {
        updateCount();
      }
    }
  
    function clickCounter() {
      if (mouseDown) {
        incrementCount();
        clearTimeout(timer);
        timer = setTimeout(function() {
          if (mouseDown) {
            if (interval > 100) interval = interval - 20;
            clickCounter();
          }
        }, interval);
      } else {
        clearTimeout(timer);
        interval = 500;
      }
    }
  
    // EVENT HANDLERS
  
    $('#count').click(function() {
      $('#check-icon').hide();
      $(this).hide();
      $('#count-input').show();
      $('.if-input').show();
      $('#count-input').val((totalAmount / 100).toFixed(2));
    });
  
    $("#count-input").bind('keypress', function(event) {
      if (event.which == 13 ) {
        $(this).hide();
        $('.if-input').hide();
        totalAmount = parseInt(parseFloat($('#count-input').val()) * 100);
        updateCount(true, true);
         $("form").submit();
      }
    });
          
    $("#submit-button").bind('mousedown touchstart', function(event) {
      $(this).css('background-position', '0 -100%');
      mouseDown = true;
      incrementCount();
      clearTimeout(timer);
      timer = setTimeout(function() {
        if (mouseDown) {
          clickCounter();
        }
      }, 1000);
    });
  
    $(document).bind('mouseup touchend', function() {
      $('#submit-button').css('background-position', '');
      // send post request with clicks
      if (mouseDown && totalAmount >= 1) $("form").submit();
      mouseDown = false;
    });
  
    $("#undo").click(function() {
      if (totalAmount > 0) {
        zeroCount();
        $("form").submit();
        $(this).hide();
      }
    });
  
    // if a context menu event (ie right click) interrupt click submission
    $("#submit-button").bind("contextmenu", function(event) {
      if (mouseDown) {
        clearTimeout(timer);
        mouseDown = false;
        $('#submit-button').children('img:first-child').stop().fadeTo(0, 1);
        totalAmount = totalAmount - 25;
        if (totalAmount == 0) $('#undo').hide();
        $.postMessage(
          JSON.stringify({command: "decrement", uuid: buttonUuid}),
          parentUrl
        );
      }
    });
    
    $("form").submit(function() {
      var form = $(this);
      var data = form.serialize();
      data += '&amount=' + totalAmount;
      if (testButton) {
        if (currentUserIndex >= 0) beltUsers[currentUserIndex].unfunded = baseAmount + totalAmount * 1000000;
        populateUsers();
        return false;
      } 
      $.ajax({
        type: "POST",
        url: form.attr("action"),
        data: data,
        success: function(data) {
          if (data.clear) {
            // zeroCount();
          } else if (data.redirect) {
            var url = webUrlBase + "/tip/" + buttonUuid + "?referrer=" + encodeURIComponent(parentUrl);
            if (hasTooltip) {
              url = url + "&source=javascript";
            } else url = url + "&source=iframe";
            if (data.overdraft) {
              url = url + "&overdraft=true";
            } else {
              resetCount();
            }
            var width = 480;
            var height = 358;
            var left = (screen.width / 2) - (width / 2);
            var top = (screen.height / 2) - (height / 2);
            window.open(url, "25c", "menubar=no,resizable=no,scrollbars=no,toolbar=no,width=" + width + ",height=" + height + ",top=" + top + ",left=" + left);
          } else {
            //
          }
        },
        dataType: "json",
        async: false
      });
      return false;
    });
  
    // CROSS DOMAIN MESSAGING
  
    $.receiveMessage(function(e) {
      var receivedCount = parseInt(e.data);
      if (receivedCount && receivedCount > 0) {
        totalAmount = receivedCount;
        $("form").submit();
      } else if (receivedCount == 0) {
        $('#undo').hide();
        $('#check-icon').hide();
        totalAmount = 0;
      }
    });
    // , parentUrl);
  });