extends widget

block scripts
  | <script>
  include js/belt.js
  | </script>

block css
  style(type="text/css")
    #outer-container{
      padding: 3px;
      border: 1px solid #d2cfcf;
      width: 449px;
      height: 60px;
      overflow: hidden;
      background-color: #eff5f7;
    }
    #users-container {
      float: left;
      width: 300px;
      margin: 0 0 0 0;
    }
    #users {
      position: relative;
      width: 200%;
      margin: 0 0 0 0;
    }
    .user-image, #call-image {
      position: absolute;
      top: 0;
      margin: 0;
      display: none;
      height: 60px;
      width: 60px;
      background-repeat: no-repeat;
      background-size: 60px;
    }
    #call-image {
      height: 58px;
      line-height: 58px !important;
      width: 58px;
      border: 1px dotted #d2cfcf;
      text-align: center;
      color: #202223;
      font: normal normal 600 12px helvetica, arial, sans-serif;
      background-color: white;
    }
    #call-message {
      float: left;
      line-height: 60px;
      font-style: italic;
      color: #4c4c4c;
    }
    #input-container {
      padding: 1px 3px 0 0;
      float: right;
    }

block content
  h1 Top Fans
  #outer-container
    #users-container
      #users
        #info-container
        #call-message Give a tip and appear as a top contributor!
        //- #call-image And you!
        .clear
    #input-container
      form.tip-form(method="POST", target="_blank", action="/tip/#{req.params.button_uuid}")
        include partials/_button_standard.jade 
    .clear

