extends widget

block scripts
  | <script>
  include js/feed.js
  include js/jquery.animate-colors-min.js
  | </script>

block css
  style(type="text/css")
    h1 {
      margin: 0 0 20px 0;
    }
    h2 {
      margin: 0 0 5px 0;
    }
    #outer-container {
      position: relative;
      border: 1px solid #d2cfcf;
      width: 650px;
    }
    #input-container {
      padding: 20px;
      border-bottom: 1px solid #d2cfcf;
      margin: 0 0 -1px 0;
      //- background-color: #eff5f7;
    }
    #user-image {
      display: none;
      float: left;
      height: 50px;
      width: 50px;
      margin: 0 10px 0 0;
    }
    textarea#comment-input {
      font: inherit;
      float: left;
      height: 39px;
      width: 451px;
      border: 1px solid #d2cfcf;
      margin: 0 0 0 -1px;
      padding: 5px;
      line-height: 14px;
      resize: none;
    }
    textarea#comment-input.default {
      font-style: italic;
      color: #4c4c4c;
    }
    textarea#comment-input.error {
      color: red;
    }
    textarea#comment-input:focus {
      outline: none;
      border: 1px solid #BAD7DF;
      -moz-box-shadow:    inset 0 0px 2px #ceecf6, 0 0 4px #ceecf6;;
      -webkit-box-shadow: inset 0 0px 2px #ceecf6, 0 0 4px #ceecf6;;
      box-shadow:         inset 0 0px 2px #ceecf6, 0 0 4px #ceecf6;;
    }
    #input-container .tip-container {
      float: left;
    }
    #feed-container {
      display: none;
      position: relative;
      margin: 20px 20px 30px 20px;
    }
    #feed-expand {
      display: none;
      position: absolute;
      bottom: -1px;
      height: 30px;
      width: 100%;
      background-color: #eff5f7;
      border-bottom: 1px solid #d2cfcf;
      cursor: pointer;
      text-align: center;
    }
    #feed-expand h3 {
      margin: 0;
      line-height: 30px;
    }
    #promote-container {
      position: absolute;
      right: 0;
      padding: 2px;
      display: none;
      border: 1px solid #d2cfcf;
    }
    .feed-item {
      border-bottom: 1px solid #d2cfcf;
      padding: 15px 0;
    }
    .feed-item:last-child {
      border-bottom: 0 none transparent;
    }
    .feed-item.initial {
      background-color: #FFEAAB;
    }
    .item-image {
      float: left;
      height: 50px;
      width: 50px;
      background-repeat: no-repeat;
      background-size: 50px 50px;
      text-align: center;
      font-size: 11px;
      line-height: 1.1em;
      color: white;
    }
    .item-text {
      float: left;
      width: 470px;
      margin: 1px 0 0 15px;
    }
    .item-controls {
      float: right;
      background-color: #3f4e52;
      height: 20px;
      cursor: pointer;
      color: white;
      font: normal normal 600 12px helvetica, arial, sans-serif;
    }
    .item-footer {
      background-color: #ddd;
      margin: 20px 0 0 0;
    }
    .item-total {
      
    }
    .item-promote-container {
      height: 19px;
      width: 20px;
      background-color: #9aaeb4;
      color: white;
      cursor: pointer;
      font-size: 20px;
      transition: background-color 0.25s;
      -moz-transition: background-color 0.25s;
      -webkit-transition: background-color 0.25s;
      -o-transition: background-color 0.25s;
    }
    .item-promote-container:hover {
      background-color: #62828c;
      transition: background-color 0.25s;
      -moz-transition: background-color 0.25s;
      -webkit-transition: background-color 0.25s;
      -o-transition: background-color 0.25s;
    }
    .item-promote {
      height: 11px;
      width: 10px;
      background-image: url('#{ ASSETS_URL_BASE }/style/button-plus-minus.png');
      background-repeat: no-repeat;
    }

block content
  #outer-container
    #input-container
      h1
        span.bold 
          | Top fan of
          span#site-name  this site
          |? 
        |You have
        span#balance-amount.bold 12 points
        |  to give and share your thoughts.
        //- TODO: Update buy more points URL
        a(href="#{WEB_URL_BASE}/tipper/points", target="_blank")  Get more points...
      #user-image
      form.tip-form(method="POST", target="_blank", action="/tip/#{req.params.button_uuid}")
        include partials/_button_standard.jade
        textarea#comment-input.default(name="comment_text") Leave a note with your contribution...
      .clear
    #feed-container
      #info-container
      #promote-container
        form.tip-form(method="POST", target="_blank", action="/tip/#{req.params.button_uuid}")
          input#comment-uuid(name="comment_uuid", type="hidden")
          include partials/_button_small.jade
      h2 What some of our top fans are thinking:
    #feed-expand
      h3 Show All Notes