doctype 5
html(lang="en")
  head
    style
      body { padding: 0; margin: 0; }
      #button {
        display: block;
        width: 120px;
        height: 60px;
        background: #f0b7a1; /* Old browsers */
        background: -moz-linear-gradient(top, #f0b7a1 0%, #8c3310 50%, #752201 51%, #bf6e4e 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0b7a1), color-stop(50%,#8c3310), color-stop(51%,#752201), color-stop(100%,#bf6e4e)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* IE10+ */
        background: linear-gradient(top, #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 ); /* IE6-9 */
      }
      #button span {
        display: block;
      }
      #button:hover {
        background: #d4a38e; /* Old browsers */
        background: -moz-linear-gradient(top,  #d4a38e 0%, #663724 50%, #532715 51%, #996855 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d4a38e), color-stop(50%,#663724), color-stop(51%,#532715), color-stop(100%,#996855)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #d4a38e 0%,#663724 50%,#532715 51%,#996855 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #d4a38e 0%,#663724 50%,#532715 51%,#996855 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #d4a38e 0%,#663724 50%,#532715 51%,#996855 100%); /* IE10+ */
        background: linear-gradient(top,  #d4a38e 0%,#663724 50%,#532715 51%,#996855 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4a38e', endColorstr='#996855',GradientType=0 ); /* IE6-9 */
      }
  body
    a(id="button", data-csrf=req.session._csrf, data-referrer=req.header('referrer'), href="/button/" + req.params.button_uuid)
      span